.image-logo-logo{
    margin-top: 20px;
}

.search-icon {
    height: 25px;
}

.logo-beside-select{
    height: 24px;
    margin-right: none;
}

.thumbnail {
    width: 100%;
    border-radius: 15px;
    border: 2px black;
    border-style: groove;
}

.thumbnail-2 {
    width: 95%;
    border-radius: 15px;
    border: 2px black;
    border-style: groove;
}

.thumbnail:hover, .thumbnail-2:hover{
    border: 4px black;
}
  
.image-title {
    font-size: 19px;
    line-height: 20px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 5px;
}

@media screen and (max-width: 769px) {
    .image-title {
        font-size: 15px;
    }
}

.image-card-1{
    padding-top: 25%;
}

.image-card-2 {
    padding-top: 15%;
}


.image-link{
    color: #5b2714f6;
    text-decoration: none;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-weight: 700;
}

.image-link:hover {
    -webkit-text-stroke: 1px #7a361df6;
    transition: 0.3s;
    color: transparent;
}

.image-info-grid {
    display: grid;
    grid-template-columns: 1fr;
}
  
  
.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}
  
.made-by,
.date-finished {
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.date-finished{
    margin-top: 6px;
}
  
.made-by {
 margin-bottom: 4px;
}

.facebook-link{
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.image-grid {
    display: grid;
    
    column-gap: 20px;
    row-gap: 40px;
    padding: 0 2%;
    background-image: linear-gradient(rgba(147, 72, 26, 0.5),rgba(147, 72, 26,0.5));

}

@media screen and (max-width: 769px) {
    .facebook-link, .made-by,
    .date-finished {
        font-size: 12px;
    }
    
}



